[submodule "rust"]
	path = rust
	url = https://gitlab.com/john.ellis1392/rust
[submodule "Haskell-Dev"]
	path = Haskell-Dev
	url = https://gitlab.com/john.ellis1392/Haskell-Dev
[submodule "go"]
	path = go
	url = https://gitlab.com/john.ellis1392/go
[submodule "personal/Resume"]
	path = personal/Resume
	url = https://gitlab.com/john.ellis1392/Resume
[submodule "apps/ChecklistApp"]
	path = apps/ChecklistApp
	url = https://gitlab.com/john.ellis1392/ChecklistApp
[submodule "apps/CardsApp"]
	path = apps/CardsApp
	url = https://gitlab.com/john.ellis1392/CardsApp
[submodule "apps/ReactNativeTestProject"]
	path = apps/ReactNativeTestProject
	url = https://gitlab.com/john.ellis1392/ReactNativeTestProject
[submodule "docker"]
	path = docker
	url = https://gitlab.com/john.ellis1392/docker
[submodule "Notebooks"]
	path = Notebooks
	url = https://github.com/johnellis1392/Notebooks
[submodule "scala"]
	path = scala
	url = http://gitlab.com/john.ellis1392/scala.git
